.target{
    color: black!important;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    border-radius: 8px;
    display: block;

}

.precio{
    padding: 10px;
    border-top: 1px !important;
}

.target {
    width: 200px !important;
}